.img-circle {
    width: 80px;
    border-radius: 50%;
    border: 2px solid;
    border-color: #61DAFB;
}
#root > div > div > div:nth-child(3) > span > h3 {
    font-family: Yanone Kaffeesatz, sans-serif;
}

#root > div > div > div:nth-child(3) > span > h5 {
    font-family: Yanone Kaffeesatz, sans-serif;
}
#whoami {
    margin-bottom: 40px;
}

#social-git {
    margin-left: 5px;
    margin-left: 5px;
}

#social-ln {
    margin-right: 5px;
}

#social-curriculum {
    margin-left: 5px;
}

#social-git:hover {
    color: black;
    transform: scale(1.1);
}

#social-ln:hover {
    color: #0084bf;
    transform: scale(1.1);
}

#social-curriculum {
    transform: scale(1.1);
}