.App {
  text-align: center;
}

div > div > h1 {
  font-family: Yanone Kaffeesatz, sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-paralax {

    background-image: url("himalaya.jpg");

    height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.App-paralax2 {

    background-image: url("prairie.jpg");

    height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.App-title {
  font-size: 2em;
  font-family: Yanone Kaffeesatz, sans-serif;
  color: #333;
}

.App-intro {
  font-size: large;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  color: #fff;
  background-color: transparent;
}

#body-part {
  background-image: url('./toyCar.jpg');
  background-size:cover;  
  min-height:100%;    
  padding-top: 20px;
  padding-bottom: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
