a > i.glyphicon-home {
    margin-left: -30px;
}
a > img {
    width: 70px;
    margin-top: -13px;
    margin-left: -50px;
}
#root > div > div > nav > div > ul {
    height: 40px;
}
#root > div > div > nav > div > ul > li {
    height: 40px;
}

div > Link {
    height: 20px;
}
i.glyphicon-link {
    margin-left: -5px;
}
.navbar {
    font-family: Yanone Kaffeesatz, sans-serif;
    height: 66px;
}
.navItem.glyphicon {
    font-family: Yanone Kaffeesatz, sans-serif;
}
.navItem {
    margin-left: -30px;
}
.navbar-inverse {
    border-color: transparent;
    border-radius: 0px;
}
right-position {
    float: right;
}

.affix {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

button {
    color: #9d9d9d;
    width: 100px;
    float:right;
    margin-left: auto;
}